
body {
  background-color: powderblue;

}

span {
  font-weight: bold;

}

.high-usage {
  color: red;

}

.medium-usage {
  color: yellow;

}

.low-usage {
  color: green;

}


/*<style>
section.test {
  font-weight: bold;
}
</style>*/
